.glyphicon-chevron-left {
  cursor: pointer;
  margin-right: 10px;
}

.col-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 16px;
}

img.avatar-large {
  width: 100px;
  height: 100px;
}
