<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h4><span class="glyphicon glyphicon-chevron-left" (click)="goBack()"></span>{{user.name}}</h4>
      <div class="form-group">
        <img [src]="user.avatar" alt="user.avatar" id="avatar" width="100">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" [value]="user.name">
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" [value]="user.country">
      </div>
      <div class="form-group">
        <label for="country">Birthday:</label>
        <input type="text" class="form-control" id="age" [value]="user.birthday">
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary btn-md" (click)="deleteUser()">Delete User</button>
        <button type="submit" class="btn btn-primary btn-md">Edit User</button>
      </div>
    </div>
    <div class="col-sm-4">
      <app-history></app-history>
    </div>
  </div>
</div>
<app-footer></app-footer>

