<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h4><span class="glyphicon glyphicon-chevron-left" (click)="goBack()"></span>Add User</h4>
      <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="submitForm(userForm.value)" novalidate>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-10">
            <input id="name"
                   type="text"
                   #name="ngModel"
                   minlength="5"
                   maxlength="10"
                   class="form-control"
                   required
                   placeholder="Enter name"
                   name="name"
                   ngModel>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="country">Country code:</label>
          <div class="col-sm-10">
            <input id="country"
                   type="text"
                   class="form-control"
                   placeholder="Enter country code e.g. GR"
                   name="country"
                   ngModel>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="birthday">Birthday:</label>
          <div class="col-sm-10">
            <input id="birthday"
                   type="date"
                   class="form-control"
                   placeholder="Enter birthday"
                   name="birthday"
                   ngModel>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="birthday">Avatar:</label>
          <div class="col-sm-10">
            <input type="file"
                   id="avatar"
                   (change)="handleFileInput($event.target.files)"
                   #fileInput>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="button" (click)="addApplication()">Add application</button>
          </div>
        </div>
        <div class="form-group" *ngFor="let word2 of words2; let i=index" >
          <div class="col-sm-10 col-sm-offset-2">
            <input id="app{{i}}"
                   type="text"
                   class="col-sm-6"
                   placeholder="Enter name"
                   name="name{{i}}"
                   ngModel>
            <input type="file"
                   id="icon{{i}}"
                   class="col-sm-6"
                   (change)="handleIcons($event.target.files)"
                   #fileInput>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4">
      <app-history></app-history>
    </div>
  </div>
</div>
<app-footer></app-footer>
