<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h4>User list</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Avatar</th>
          <th>Age</th>
          <th>Country</th>
          <th>Number of apps</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" routerLink="/user-detail/{{user._id}}" class="cursor">
          <td>{{user.name}}</td>
          <td class="centered"><img [src]="user.avatar | avatar" [alt]="user.avatar | avatar" class="avatar-small"/></td>
          <td>{{user.birthday | age}}</td>
          <td>{{user.country}}</td>
          <td>{{user.appsCount}}</td>
        </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button type="button" class="btn btn-primary btn-md" routerLink="/user-add">Add User</button>
      </div>
    </div>
    <div class="col-lg-4">
      <app-history></app-history>
    </div>
  </div>
</div>
<app-footer></app-footer>





