@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.glyphicon {
  cursor: pointer;
}

.border-right {
  border-right: 1px solid #ddd;
}

.borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px;
}

.border-left {
  border-left: 1px solid #ddd;
}

img.avatar-large {
  width: 100px;
  height: 100px;
}

img.avatar-small {
  width: 50px;
  height: 50px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

